body{
 background-color: #3d3d3d;
};
.App {
  text-align: center;
}

/* .card-title {
  position: absolute;
  padding: 20px;
}
.card-date {
  position: absolute;
  padding-left: 20px;
  margin-top: 100px;
}

.card-temperature {
position: absolute;
padding-left: 20px;
margin-top: 260px;
font-size: 50px;
}

.card-description {
  position: absolute;
  padding-left: 20px;
  margin-top: 320px;
} */